*{
    padding: 0;
    margin: 0;
}

.app{
    border: none;
    margin: 200px auto;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;

    /* transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
    font-family: Montserrat, sans-serif;
    width: 440px;
    height: 390px;
    padding: 17px;
    translate: -6px -6px;
    background: #ff66a3;
    border: 3px solid #000000;
    box-shadow: 12px 12px 0 #000000;
    overflow: hidden;
    transition: all 0.3s ease;
}
.head{

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 200;
  background: #ffffff;
  padding: 6px 12px;
  color: #000000;
  border-bottom: 3px solid #000000;
margin-bottom: 10px;
}
#head-h1{
    font-size: 24px;
    text-align: center;
}
.head p{
    text-align: center;
}
button{
    width: 200px;
    height: 25px;
    background-color: aqua;
}
#answer-btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10px;
}
.buttons{
    color: white;
    margin-left: 10px;
    background-color: rgb(44, 55, 55); 
    height: 34px;
    width: 300px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
.buttons:hover{
    background-color: #008080;
    transition: all 0.5s ease-in-out;
}
#next-btn{
    cursor: pointer;
    /* margin-top: 23px; */
    /* margin-bottom: 23px; */
}
.quiz.error {
    border: 2px solid red;
    animation: vibrate 0.3s;
  }
  
@keyframes vibrate {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
}
